body{
    background-image: url("./assets/background.jpg");
    align-items: center;
    background-size: cover;
}
#header{
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    display: inline;
}
#logo{
    width: auto;
    height: 75px;
    overflow: hidden;
    position: absolute;
    right: 30px;
    left: 20px;
    top: 12.5px;
    display: inline;
}
H2{
    overflow: hidden;
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    color: azure;
    margin: 0%;
    top: 1px;
    text-align: center;
}
#navbar{
    width: 100%;
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 100px;
    font-size: 25px;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
    background-color: black;
}
#ana-sayfa{
    color: azure;
    text-decoration: none;
    margin: 10px;
}
#ana-sayfa:hover{
    background-color: lightgreen;
    color: black;
    cursor: pointer;
}
#indirmeler{
    color: azure;
    text-decoration: none;
    margin: 10px;
}
#indirmeler:hover{
    background-color: lightgreen;
    color: black;
    cursor: pointer;
}
#forum{
    color: azure;
    text-decoration: none;
    margin: 10px;
}
#forum:hover{
    background-color: lightgreen;
    color: black;
    cursor: pointer;
}
#haberler{
    color: azure;
    text-decoration: none;
    margin: 10px;
}
#haberler:hover{
    background-color: lightgreen;
    color: black;
    cursor: pointer;
}
#iletisim{
    color: azure;
    text-decoration: none;
    margin: 10px;
}
#iletisim:hover{
    background-color: lightgreen;
    color: black;
    cursor: pointer;
}
#kayit-ekrani{
    float: left;
    width: 750;
    height: auto;
    overflow: hidden;
    position: absolute;
    display: inline-block;
    left: 50px;
    top: 200px;
    border: 5px;
    border-style: solid;
    border-radius: 5px;
    background-color: brown;
}
#kayit-ol{
    width: 600px;
    height: 50px;
    background-color: lightgreen;
    border-radius: 10px;
    border-style: solid;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    color: black;
    margin: 10px;
}
#kayit-ol:hover{
    background-color: darkgreen;
    color: azure;
    cursor: pointer;
}
#ad{
    width: 600px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    color: black;
    margin: 10px;
}
#soyad{
    width: 600px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    color: black;
    margin: 10px;
}
#eposta{
    width: 600px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    color: black;
    margin: 10px;
}
#kullanici-adi{
    width: 600px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    color: black;
    margin: 10px;
}
#parola{
    width: 600px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    color: black;
    margin: 10px;
}
#takim{
    width: 600px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    color: black;
    margin: 10px;
}
#takim:hover{
    cursor: pointer;
}
#cinsiyet{
    width: 600px;
    height: 60px;
    background-color: whitesmoke;
    border-radius: 10px;
    border-style: none;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    color: black;
    margin: 10px;
}
#temizle{
    width: 300px;
    height: 50px;
    background-color: lightgreen;
    border-radius: 10px;
    border-style: solid;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 9px;
}
#temizle:hover{
    background-color: darkgreen;
    color: azure;
    cursor: pointer;
}
#gonder{
    width: 300px;
    height: 50px;
    background-color: lightgreen;
    border-radius: 10px;
    border-style: solid;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
#gonder:hover{
    background-color: darkgreen;
    color: azure;
    cursor: pointer;
}
#resim-1{
    float: right;
    overflow: hidden;
    position: absolute;
    display: inline-block;
    width: 250px;
    height: 175px;
    top: 225px;
    left: 1050px;
    margin: 5px;
}
#resim-2{
    float: right;
    overflow: hidden;
    position: absolute;
    display: inline-block;
    width: 250px;
    height: 175px;
    top: 225px;
    left: 1330px;
    margin: 5px;
}
#resim-3{
    float: right;
    overflow: hidden;
    position: absolute;
    display: inline-block;
    width: 250px;
    height: 175px;
    top: 425px;
    left: 1050px;
    margin: 5px;
}
#resim-4{
    float: right;
    overflow: hidden;
    position: absolute;
    display: inline-block;
    width: 250px;
    height: 175px;
    top: 425px;
    left: 1330px;
    margin: 5px;
}
#paragraf{
    float: right;
    overflow: hidden;
    position: absolute;
    display: inline-block;
    border-style: solid;
    border-color: yellowgreen;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 25;
    width: 1050px;
    height: 175px;
    top: 650px;
    left: 800px;
}